# roles/redis/templates/redis.ini.j2
[program:{{ REDIS_APP_NAME }}]
command = {{ REDIS_BASE_DIR }}/bin/redis-server {{ REDIS_BASE_DIR }}/conf/redis_{{ REDIS_LISTEN_PORT }}.conf
directory = {{ REDIS_BASE_DIR }}
user = {{ REDIS_RUNNING_USER }}
stdout_logfile = {{ REDIS_BASE_DIR }}/logs/redis_{{ REDIS_LISTEN_PORT }}.log
stdout_logfile_maxbytes = 50MB
stdout_logfile_backups = 10
redirect_stderr = true
autorestart = true
autostart = true
# 设置优先级，程序启停的优先级，数字越小优先级越高，默认999
priority = 991
