# roles/redis/templates/redis-sentinel.ini.j2
[program:{{ REDIS_SENTINEL_APP_NAME }}]
command = {{ REDIS_BASE_DIR }}/bin/redis-server {{ REDIS_BASE_DIR }}/conf/redis_{{ REDIS_SENTINEL_LISTEN_PORT }}.conf --sentinel
directory = {{ REDIS_BASE_DIR }}
user = {{ REDIS_RUNNING_USER }}
stdout_logfile = {{ REDIS_BASE_DIR }}/logs/redis_{{ REDIS_SENTINEL_LISTEN_PORT }}.log
stdout_logfile_maxbytes = 50MB
stdout_logfile_backups = 10
redirect_stderr = true
autorestart = true
autostart = true
# 设置优先级，程序启停的优先级，数字越小优先级越高，默认999
# 哨兵程序要在主从节点启动后再启动
priority = 992
